{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "react/react-in-jsx-scope": "error",
    "no-unused-vars": "off",
    "no-undef": "off",
    "no-restricted-imports": ["error", {
      "patterns": ["../*"]
    }]
  }
}