@import "../variables.scss";
.cart {
  margin: 120px 120px 0 120px;
}
.pay-wraper {
  display: flex;
  justify-content: end;
}
.btn-pay {
  background-color: rgb(243, 239, 236);
  height: fit-content;
  text-align: center;
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgb(159, 176, 238);
  border-radius: 30%;
  color: black;
  text-decoration: none;
}
.btn-pay:hover {
    background-color: rgb(246, 243, 241);
  cursor: pointer;
}

